@import 'src/categoryInspect.less';

@import 'src/printQueue.less';

@import 'src/confirmation.less';

.info{
	padding: 10px;
	background-color: #DDD;
	margin-bottom: 10px;
}

#optionsEtiket{
	
	p{
		margin: 10px 0 0 0;
		padding: 0;
	}
}